<div class="wrap">
 <div class="hero"> 
 </div>
<div class="container">
  <div class="row">
    <div class="col-12 my-4">
      <p class="back-style" style="height:70px;">サイトのご案内</p>
    </div>
    <div class="col-12 my-4">
      <p class="back-style">
      <br>
        薬局や通販で、たくさんの歯磨き粉が販売されている中で自分<br>
        の好みや用途にあったものを見つけるのは中々難しいものです<br>
        コスメの口コミサイトのように、歯磨き粉を実際に使った人の<br>
        感想を気軽に投稿・見るにことができるので、ランキングや感<br>
        想を参考にお気入りの歯磨き粉を見つけて楽しく歯磨きをしま<br>
        しょう　　　　　　　　　　　　　　　　　　　　　　　　　<br>
      </p>
    </div>
    <div class="col-12 my-4">
      <p class="back-style">
         歯磨き粉に何を求めますか？<br>
   歯を白くしたいならホワイトニング成分配合のもの<br>
   虫歯予防のものならフッ素配合のもの　　　　　　<br>
   自分の求める効果によって選択する歯磨き粉は変わ<br>
   っていきます。　　　　　　　　　　　　　　　　<br>
   なので、ジャンル別のランキングも検索できるよう<br>
   になっています　　　　　　　　　　　　　　　　<br></p>
    </div>
    <div class="col-12 my-4">
      <p class="back-style">
      　　歯磨き粉の注意点<br>
      <br>
      発砲剤・研磨剤が多すぎる物は使い手を選びます<br>
      特に音波歯ブラシを使用する場合は低発泡剤<br>
      ・低研磨のジェル状の歯磨き粉をおすすめし<br>
      ます　　　　　　　　　　　　　　　　　　<br></p>
    </div>
    <div class="col-12 my-4">
      <p class="back-style" style="height:140px;">
      患者さんからおすすめの歯磨き粉を聞かれることが多かったので
      元歯科衛生士の管理人おすすめの歯磨き粉なども紹介させていただいてます</p>
    </div>
    <div class="col-12 my-4">
      <p class="back-style">
        どのような歯磨き粉を使うのかは大事なことですが、何より<br>
        毎日しっかり歯磨きをするということが大切です。<br>
        しっかりというのはゴシゴシ強く磨く訳ではなく、隅々まで<br>
        優しく丁寧に磨くということです。　　　　　　　　　　　<br>
        とは言っても、やはり完璧に磨くというのは自己流では難しいので<br>
        定期的に歯医者さんに行って定期検診や歯のお掃除をしたりすること<br>
        を強くお勧めします。　　　　　　　　　　　　　　　　　　<br>
        </p>
    </div>
    <div class="col-12 my-4">
      <p class="back-style" style="height:140px;">
        新たに登録して欲しい歯磨き粉があれば<br>
        お問合せフォームからご連絡ください
      </p>
    </div>
  </div>
</div>

 <div class="org_to_top">
  <a href="#top">
   <div class="m_to_top">
    ↑
   </div>
  </a>
 </div>

</div>


