
    <%# <div class="box1">
        <div class="box2"></div>
    </div> %>
<%#= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<%#= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<%#= link_to 'emailでログイン', new_user_session_path %>

<div class="main-visual">
  <div class="main-visual-content">
    <!-- pタグ（と文字）を追加 -->
    <p class="main-visual-text">
        サイト概要<br>
        好きな歯磨き粉を選んで<br>
        みんなで作る歯磨き粉の口コミサイトです
    </p>
    <p class="main-visual-name">
        St. Augustine
    </p>
  </div>
  </div>

<div class="main-visual">
  <div class="main-visual-content-right">
    <!-- pタグ（と文字）を追加 -->
    <p class="main-visual-text">
        虫歯予防におすすめの歯磨き粉や<br>
       ホワイトニング効果が本当にある歯磨き粉<br>
        歯磨き粉の味の口コミまで.
    </p>
    <p class="main-visual-name">
        St. Augustine
    </p>
  </div>
</div>
<div class="main-visual">
  <div class="main-visual-content">
    <!-- pタグ（と文字）を追加 -->
    <p class="main-visual-text">
        The world is a book<br>
        and those who do not travel<br>
        read only one page.
    </p>
    <p class="main-visual-name">
        St. Augustine
    </p>
  </div>
</div>
