<div id="top"></div>
<div class="wrap">
 <div class="hero">
 </div>
 <div>
  <h1 style="font-size:30px;">サイトのご案内<br><br>
    薬局や通販で、たくさんの歯磨き粉が販売されている中で自分の好みや用途にあったもの<br>
    を見つけるのは中々難しいものです。コスメの口コミサイトのように、歯磨き粉を実際に<br>
    使った人の感想を気軽に投稿・見ることができるので、ランキングや感想を参考にお気に<br>
    入りの歯磨き粉を見つけて楽しく歯磨きをしましょう　　　　　　　　　　　　　　　　<br></h1></div>
 <h2>Scroll ↓</h2>

 <div class="animation">
  <div class="anm_mod">
    歯磨き粉に何を求めますか？<br>
    歯を白くしたいならホワイトニング成分配合のもの<br>
    虫歯予防のものならフッ素配合のもの　　　　　　<br>
    自分の求める効果によって選択する歯磨き粉は変わ<br>
    っていきます。　　　　　　　　　　　　　　　　<br>
    なので、ジャンル別のランキングも検索できるよう<br>
    になっています　　　　　　　　　　　　　　　　<br>
  </div>
  <div class="anm_mod delay">
    歯磨き粉の注意点<br>
    発砲剤・研磨剤が多すぎる物は使い手を選び<br>
    ます　　　　　　　　　　　　　　　　　　<br>
    特に音波歯ブラシを使用する場合は低発泡剤<br>
    ・低研磨のジェル状の歯磨き粉をおすすめし<br>
    ます　　　　　　　　　　　　　　　　　　<br>
  </div>
 </div>
 <div class="animation">
  <div class="anm_mod full">
         患者さんからおすすめの歯磨き粉を聞かれることが多かったので
    元歯科衛生士の管理人おすすめの歯磨き粉なども紹介させていただいてます
  </div>
 </div>
 <div class="animation">
  <div class="anm_mod left fast">
        どのような歯磨き粉を使うのかは大事なことです<br>
        が、何より毎日しっかり歯磨きをするということ<br>
        が大切です。しっかりというのはゴシゴシ強く磨<br>
        く訳ではなく、隅々まで優しく丁寧に磨くという<br>
        ことです。　　　　　　　　　　　　　　　　　<br>
  </div>
  <div class="anm_mod right delay">
        とは言っても、やはり完璧に磨くというのは自己<br>
        流では難しいので定期的に歯医者さんに行って定<br>
        期検診や歯のお掃除をしたりすることを強くお勧<br>
        めします。　　　　　　　　　　　　　　　　　<br>
  </div>
 </div>

  <div class="animation">
  <div class="anm_mod full">
        新たに登録して欲しい歯磨き粉があれば<br>
        お問合せフォームからご連絡ください
  </div>
 </div>

 <div class="org_to_top">
  <a href="#top">
   <div class="m_to_top">
    ↑
   </div>
  </a>
 </div>

</div>

