<div class="wrap">
 <div class="hero"> 
  <h1></h1>
 </div>

 <h1>サイト概要:説明文zzzzzzzzzzzzzzzzzzzzzzzzzzz</h1>

 <h2>Scroll ↓</h2>

 <div class="animation">
  <div class="anm_mod">
   歯磨き粉選択の仕方・基準・どうしたいか
  </div>
  <div class="anm_mod delay">
　　歯磨き粉の注意点・発砲剤・研磨剤には注意
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full">
   そもそも歯磨きをしっかり行う
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full">
   口コミする際の注意点
  </div>
  <div class="anm_mod full">
   歯ブラシの交換時期
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full fast">
   anm_mod full fast
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full">
   anm_mod left delay
  </div>
  <div class="anm_mod full">
   anm_mod right fast
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full delay">
   anm_mod full delay
  </div>
 </div>

 <div class="org_to_top">
  <a href="#top">
   <div class="m_to_top">
    ↑
   </div>
  </a>
 </div>

</div>
