<%# <div class="wrap">
 <div class="hero"> 
 </div>
  <h2 class="top-font-color">サイトのご案内<br>
  <h2 class="top-font-color" style="font-size:25px;">
  薬局や通販で、たくさんの歯磨き粉が販売されている中で自分の好みや用途にあったものを<br>
  見つけるのは中々難しいものです。コスメの口コミサイトのように、歯磨き粉を実際に使っ<br>
  た人の感想を気軽に投稿・見ることができるので、ランキングや感想を参考にお気に入りの<br>
  歯磨き粉を見つけて楽しく歯磨きをしましょう　　　　　　　　　　　　　　　　　　　　<br>
  
  </h2>
</h2>

 <div class="back-style">
  <div class="top-font-color" style="font-size:25px;"">
   歯磨き粉に何を求めますか？<br>
   歯を白くしたいならホワイトニング成分配合のもの<br>
   虫歯予防のものならフッ素配合のもの　　　　　　<br>
   自分の求める効果によって選択する歯磨き粉は変わ<br>
   っていきます。　　　　　　　　　　　　　　　　<br>
   なので、ジャンル別のランキングも検索できるよう<br>
   になっています　　　　　　　　　　　　　　　　<br>
  </div>
  <div class="top-font-color" style="font-size:28px;">
　　歯磨き粉の注意点<br>
   発砲剤・研磨剤が多すぎる物は使い手を選び<br>
   ます　　　　　　　　　　　　　　　　　　<br>
   特に音波歯ブラシを使用する場合は低発泡剤<br>
   ・低研磨のジェル状の歯磨き粉をおすすめし<br>
   ます　　　　　　　　　　　　　　　　　　<br>
  </div>
 </div>

 <div class="animation">
  <div class="top-font-color">
   患者さんからおすすめの歯磨き粉を聞かれることが多かったので
    元歯科衛生士の管理人おすすめの歯磨き粉なども紹介させていただいてます
  </div>
 </div>

 <div class="animation">
  <div class="top-font-color">
 どのような歯磨き粉を使うのかは大事なことですが、
何より毎日しっかり歯磨きをするということが大切です。
しっかりというのはゴシゴシ強く磨く訳ではなく、隅々まで優しく丁寧に磨くということです。

とは言っても、やはり完璧に磨くというのは自己流では難しいので
定期的に歯医者さんに行って定期検診や歯のお掃除をしたりすることを強くお勧めします。
  </div>
 </div>
 <div class="animation">
  <div class="top-font-color">
   新たに登録して欲しい歯磨き粉があれば<br>
   お問合せフォームからご連絡ください
  </div>
 </div>

 <div class="org_to_top">
  <a href="#top">
   <div class="m_to_top">
    ↑
   </div>
  </a>
 </div>

</div> %>


<div id="top"></div>

<div class="wrap">
 <div class="hero">
  <h1>Scroll CSS Animation</h1>
 </div>

 <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi id est a nulla soluta corporis nemo aperiam nisi sed repellendus rerum cumque voluptates nam, quia, iste deserunt dolore tempora voluptate?</h1>

 <h2>Scroll ↓</h2>

 <div class="animation">
  <div class="anm_mod">
   anm_mod
  </div>
  <div class="anm_mod delay">
   anm_mod delay
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full">
   anm_mod full
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod left fast">
   anm_mod left fast
  </div>
  <div class="anm_mod right delay">
   anm_mod right delay
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full fast">
   anm_mod full fast
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod left delay">
   anm_mod left delay
  </div>
  <div class="anm_mod right fast">
   anm_mod right fast
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full delay">
   anm_mod full delay
  </div>
 </div>

 <div class="org_to_top">
  <a href="#top">
   <div class="m_to_top">
    ↑
   </div>
  </a>
 </div>

</div>