<div class="main-visual">
<div class="main-visual-content">
    <!-- pタグ（と文字）を追加 -->
    <p class="main-visual-text">
        The world is a book<br>
        and those who do not travel<br>
        read only one page.
    </p>
    </p>
    <p class="main-visual-name">
        St. Augustine
    </p>
</div>
</div>
    
    <div class="wrapper clearfix">
        <main class="main">
            <section>
                <div class="ranking">
                総合ランキング
                </div>
            </section>
            <section>
                <div class="ranking1">ジャンル別:ホワイトニングランキング
                </div>
            </section>
        </main>
        <div class="sidemenu">
        <section class="popular">
            <h4 class="sidebar-headline">運営者のおすすめ</h4>
            <div class="sidebar-contents">
                <p class="popular-text">ジャンルごと,ピックアップ</p>
            </div>
        </section>
        </div>
    </div>