/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
 /* 画像使う場合プリコンパイル後に対応できるように url → image-url と記述*/
 /* body {
    　　background-image: image-url("hoge.jpg");   
    } */

   * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: gray;
}

  @font-face{
   font-family: "mk-font";
   src: asset_url('851MkPOP_002.ttf') format('truetype');
 }

// .box1{
//    width: 100%; /* 横幅いっぱい */
//    height: 120px; /* 高さ120px */
//    background-color: red; /* 背景赤色 */
// }
// .box2 {
//    width: 100%; /* 横幅 */
//    height: 300px; /* 高さ */
//    background-color: orange; /* 背景色 */
// }
header {
   width: 100%;
   padding: 15px 0;
   margin: 0 auto;
   // text-align: left;
   // background-image: image-url("paste-top.jpg");
}
header .headline {
   font-size: 32px;
   color: gray;
   font-family: "mk-font";
   text-align: left;
   list-style: none;   
   // display: inline-block;
   margin: 0 30px;
}
.nav-list {
   text-align: right;
   padding: 10px 0;
   // margin: 0 auto;
   color: white;
}
.nav-list-item {
   list-style: none;   
   display: inline-block;
   margin: 0 30px;
   // color: whitesmoke;
}

.font-color {
   color: gray;
   font-size: 20px;
   font-family: "mk-font";
}

.user_name{
   font-family: "mk-font";
   color: black;
   font-size: 22px;
   margin-right: 15px;
}

.wrapper {
   width: 1100px;
   margin: 30px auto 30px;
}

// user_mainの高さ
.user-main-box {
   width: 1100px;
   margin: 30px auto 30px;
   height: 1000px
}


.main {
   display: block;
   float: left;
   width: 750px;
}

.ranking {
   background-color: orange;
}
.ranking1 {
   background-color: rgb(245, 242, 237);
}
.sidemenu {
   float: left;
   width: 300px;
   margin: 0 20px 0;
}

footer {
   width: 100%;
   height: 120px; 
   text-align: center;
   line-height: 120px;
   background-color: #848282;
}
.footer-text {
   color: #fff;
}
.clearfix::after {
   content: '';
   display: block;
   clear: both;
}


 .main, .sidemenu {
   // border: 1px solid #aaa;
   background-color: #ccc;
}

.main, .sidemenu{
   height: 800px;
}


.sidebar-headline {
   border-bottom: 8px solid #f7f7f7;
   text-align: center;
   line-height: 0.6;
   margin-top: 20px;
}
.sidebar-contents {
   padding: 10px 0;
   border-bottom: 1px solid #f7f7f7;
}
// .popular-text {
//    padding-bottom: 5px;
//    border-bottom: 1px solid #f7f7f7;
//    margin-bottom: 10px;
// }
.popular-text:last-child {
   margin: 0;
   padding: 0;
   border: none;
}




// 

.main-visual {
   width: 100%;
   height: 300px;
   background-image: image-url("paste-top.jpg");
   background-size: 600px auto;
   background-position: center; 
}
.main-visual-content{
   width: 50%;
   height: 300px;
   background-color: rgba( 0, 0, 0, 0.5);
   text-align: center;
   padding-top: 105px;
}

.main-visual-content-right {
   width: 50%;
   height: 300px;
   background-color: rgba( 0, 0, 0, 0.5);
   text-align: center;
   padding-top: 105px;
   float: right;
}
.main-visual-text {
   color: #fff; /* 文字色を白に変更 */
}
.main-visual-name {
   margin-top: 30px; /* 上側の外側の余白 */
   color: #fff; /* 文字色を白に変更 */
}

.flash_message_font {
   font-size: 20px;
   color: gray;
   font-family: "mk-font";
   text-align: left;
   list-style: none;   
   // display: inline-block;
   margin: 0 30px;
}

// user新規登録・ログイン画面

input {
  ::-webkit-input-placeholder {
     color: rgba(255,255,255,0.7);
  }
  ::-moz-placeholder {
     color: rgba(255,255,255,0.7);  
  }
  :-ms-input-placeholder {  
     color: rgba(255,255,255,0.7);  
  }
  &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
     color: rgba(0,0,0,0.7);
    }
    ::-moz-placeholder {
       color: rgba(0,0,0,0.7);  
    }
    :-ms-input-placeholder {  
       color: rgba(0,0,0,0.7);  
    }
  }
}

.login-form {
  //background: #222;
  //box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: .5rem;
}
.login-text {
  //background: hsl(40,30,60);
  //border-bottom: .5rem solid white;
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  //text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
  .fa-stack-1x {
    color: black;
  }
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}

.login-forgot-pass {
  //border-bottom: 1px solid white;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: .5rem;
  position: absolute;
  text-align: center;
  //text-decoration: none;
  width: 100%;
  &:hover {
    opacity: 1;
  }
}
.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms background ease-in;
  &:hover, &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}

[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
.underlay-photo {
  animation: hue-rotate 6s infinite;
  background-image: image-url("paste-top.jpg");
  background-size: cover;
  -webkit-filter: grayscale(30%);
  z-index: -1;
}
.underlay-black {
  background: rgba(0,0,0,0.7);
  z-index: -1;
}

