// Place all the styles related to the users::pastes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 吹き出し本体 */
.tag{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: #1f1e1ea8;
    background-color: #ffffffc7;
    margin-left: 250px;          /* 左に余白を設ける */
    margin-top: 20px;
    width: 70%;
  }
  /* 画像 - 絶対配置で左上に配置 */
  .tag .icon{
    position: absolute;
    left: -130px;
    top: 0;
  }
  /* 三角アイコン */
  .tag::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -15px;
    top: 20px;
    border-right: 15px solid #ffffffc7;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  
  .box_2 {
    text-align: center;
    display: inline-block;
    // color: #FFF;
    width:280px;
    height:340px;
    background-color: rgba(252, 249, 249, 0.699);
}
.font-color-gray {
    color: gray;
    font-size: 20px;
    font-family: "mk-font";
 }
 
.icon{
  background-image: image-url("125040.png");
}