// Place all the styles related to the users::user_favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper_user_show {
    width: 1100px;
    margin: 30px auto 30px;
 
 }
 .main_user_show {
    display: block;
    float: left;
    width: 750px;
 }

 .ranking-container {
     height: 200px;
 }

.box_1 {
    text-align: center;
    display: inline-block;
    // color: #FFF;
    width:210px;
    height:400px;
    background-color: rgba(246, 250, 250, 0.308);
}
 

// 影付きのbox
.my_page_box {
    padding: 0.5em 1em;
    margin:20px auto;
    color: rgb(246, 248, 248);
    background: #f9fafad7;/*背景色*/
    border-top: solid 6px #8486864d;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    height: 200px;
    width: 80%;
}


// *{box-sizing: border-box;}

// html, body{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   height: 100%;
//   width: 100%;
//   background-color: #3cad7e;
//   font-family: 'Arial', sans-serif;
// }

// 検索フォーム
.ransack_container {  
  h1{
    color: #fff;
    font-family: "mk-font";
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 10px;
  }
}

.ransack-wrap {
  position: relative;
  width: 500px;
  height: 50px;
  margin: 0 auto;
}

.ransack-wrap-pricebox {
  position: relative;
  text-align: center;
  width: 100%;
  height: 50px;
  margin: 0 auto;
}

// .ransack-label{
//   position: absolute;
//   top: 6px;
//   left: 10px;
//   font-size: 16px;
//   color: #a0a0a0;
//   transition: all 0.25s ease;
  
//   &.focus{
//     top: -25px;
//     left: 5px;
//     font-size: 14px;
//     color: #fff;
//   }
// }

.ransack-textbox{
  position: relative;
  display: block;
  width: 500px;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  outline: none;
}

.ransack-textbox-pricebox {
//   position: relative;
//   display: block;
  width: 300px;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  outline: none;
}
// index.html ransack-textbox-index
.ransack-textbox-index {
    // position: relative;
    // display: block;
    width: 800px;
    // margin-top: 10px;
    // padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #a0a0a0;
    outline: none;
  }

// mainサイズ、透過色　main-visual、main-visual-content変更
// .main-visual-rank {
//     width: 100%;
//     height: 300px;
//     background-image: image-url("paste-top.jpg");
//     background-size: 600px auto;
//     background-position: center; 
//  }  

.main-visual-content-rank{
    width: 80%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.5);
    // text-align: center;
    padding-top: 20px;
    margin: 0 auto;
 }

.font-color-white {
    color: white;
    font-family: "mk-font";
    font-size: 18px;
}

// adminおすすめ用吹き出し
/* 吹き出し本体 */
.admin_tag{
    position: relative;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f7f4f4ad;
    border-radius: 10px;         /* 角丸を指定 */
  }
  
  /* beforeで枠線の三角を表現 */
  .admin_tag::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 15px;
    top: -10px;
  }
  
  /* beforeで本体の三角を表現 */
  .admin_tag::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 15px;
    top: -9px;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #f7f4f4ad;
    border-left: 9px solid transparent;
  }